// size
$size-content:1300px;
$size-basic:10px;

// color
$gray:#999;

// font-size
$font-small:13px;
$font-nomal:16px;
$font-large:20px;
$font-max:24px;

// 단축
$content:$size-content;
$basic:$size-basic;

$small:$font-small;
$nomal:$font-nomal;
$large:$font-large;
$max:$font-max;
