@use './common' as *;
@use './mixin' as *;
@use './variable' as *;
header{
    background-color: #fff;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}
#wrap #header{
    width: $content;
    // background-color: pink;
    @include margin;
    @include cPadding;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        margin-bottom: $basic*8;
    }
    .sub{
        position: absolute;
        right: 410px;
        top: $basic*8;
        line-height: $basic*2;
        a{
            color: $gray;
            font-size: 13px;
        }
    }
    nav{
        >ul{
            display: flex;
            >li{
                padding-left: $big;
                &:first-child{
                    padding-left: 0;
                }    
                a{
                    color: $gray;
                    font-size: 16px;
                    font-weight: bold;
                    color: $gray;
                }
                &.store{
                    ul{
                        position: absolute;
                        padding-top: 15px;
                        li{
                            padding: $basic 0;
                            a{
                                color: $gray;
                            }
                        }
                    }
                }
            }
        }
    }
}